#container div {
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

.App {
  text-align: center;
}

label {
  width: 100px;
  display: inline-block;
  margin-bottom: 20px;
}

select {
  width: 170px;
  height: 20px;
}